$LIGHT_SHADE: #f3ebec
$LIGHT_ACCENT: #d59174
$BRAND_COLOR: #982f2f
$DARK_ACCENT: #867d80
$DARK_SHADE: #262129

$DEFAULT_COLOR: #999999
$DEFAULT_TEXT_COLOR: #ffffff

$INVERTED_DEFAULT_COLOR: #ffffff
$INVERTED_DEFAULT_TEXT_COLOR: #999999

$PRIMARY_COLOR: #a33431
$INFO_COLOR: #30212f
$SUCCESS_COLOR: #668a47
$WARNING_COLOR: #e37a0f
$DANGER_COLOR: #f44336

$DEFAULT_BACKGROUND: #FBF8FA

$TEXT_COLOR: $DARK_SHADE
$BACKGROUND_COLOR: $LIGHT_SHADE

$INVERTED_TEXT_COLOR: $LIGHT_SHADE
$INVERTED_BACKGROUND_COLOR: $DARK_SHADE

$ACCENT_TITLE_TEXT_COLOR: $DEFAULT_TEXT_COLOR;
$ACCENT_CONTENT_TEXT_COLOR: rgba(255, 255, 255, 0.8)
